@model ViewModels.CutOrderViewModel
@{
    ViewBag.Title = "فهرست محصولات موجود ";
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        مشخصات حواله
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-md-2">شماره ردیف</div>
            <div class="col-md-4">@Model.InputDetail.Order.Code</div>
            <div class="col-md-2">صاحب ردیف</div>
            <div class="col-md-4">@ViewBag.CustomerName</div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">نام کالا</div>
            <div class="col-md-4">@Model.InputDetail.Product.Title</div>
            <div class="col-md-2">وزن مانده</div>
            <div class="col-md-4">@Model.RemainWeight</div>
        </div>
       
    </div>

    @using (Html.BeginForm("details", "cut", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CutOrderId)
        @Html.HiddenFor(model => model.InputDetail.Product.ProductGroupId)
        @Html.HiddenFor(model => model.Math)
        @Html.HiddenFor(model => model.InputDetail.OrderId)
        @Html.HiddenFor(model => model.InputDetail.Id)


        <div class="row panel-row">
            <div class="panel panel-primary">
                <div class="panel-heading">فرم ورود جزئیات برش</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomActionId, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownList("CustomActionId", null,"--انتخاب کنید--", new {onchange= "CutDetailTypeChange();" })
                                    @Html.ValidationMessageFor(model => model.CustomActionId)
                                </div>

                                <div class="col-md-2">فی برش</div>
                                <div class="col-md-3">
                                  <input type="text" disabled="disabled" id="txtCutAmount" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Weight, new { @onchange = "QuantityChange();" })
                                    @Html.ValidationMessageFor(model => model.Weight)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Density, new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Density, new { @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.Density)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Length, new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Length, new { @onchange = "QuantityChange();" })
                                    @Html.ValidationMessageFor(model => model.Length)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Quantity)
                                    @Html.ValidationMessageFor(model => model.Quantity)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">ثبت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@(Html.Kendo().Grid(Model.CutOrderDetails.ToList())
              .Name("Grid")
              .Columns(columns =>
              {
                  columns.Bound(model => model.Weight);
                  columns.Bound(model => model.Length);
                  columns.Bound(model => model.Quantity);
                  columns.Bound(model => model.CutOrder.InputDetail.Product.ProductGroup.Density);
              })

                  .DataSource(dataSource => dataSource
                      .Server()
                      .Model(model => model.Id(item => item.Id))
                  )
)

          
 
@section scripts{
    <script>
        function QuantityChange() {
            var remainWeight = '@Model.RemainWeight';
            var weight = parseFloat($("#Weight").val());
            if (weight > parseFloat(remainWeight)) {
                alert('وزن وارد شده از وزن باقیمانده بیشتر است');
                $("#Weight").focus();
            }
            else {
                var length = parseFloat($("#Length").val());
                var math = parseFloat($("#Math").val());
                //var density = parseFloat($("#Density").val());
                if (weight != '' && length != '') {
                    if (weight != '0' && length != '0') {
                        var quantity = parseInt(weight / parseFloat(math * length));
                        //var quantity = parseInt(weight / density / length);
                        $("#Quantity").val(quantity);
                    }
                }
            }
            
        }

        function CutDetailTypeChange()
        {
            var CustomActionId = $("#CustomActionId option:selected").val();
            var productGroupId = $("#InputDetail_Product_ProductGroupId").val();
            if (CustomActionId == "0") {
                $("#txtCutAmount").val('');
            }
            else {
                $.ajax({
                    url: '/Cut/GetCutAmount',
                    data: { id: CustomActionId, productGroupId: productGroupId},
                    type: 'POST',
                    success: function (result) {
                        $("#txtCutAmount").val(result);
                    }
                });
            }
        }

        function onSuccess() {
            $("#CustomActionId option:selected").val('');
            $("#Density").val('');
            $("#Length").val('');
            $("#Quantity").val('');
            alert('عملیات با موفقیت انجام شد');
        }
        </script>
    }
